<!DOCTYPE html>
<html lang="tr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Yaşam Yıldızı Portal</title>
        <link href="~/Content/sertifika.css" rel="stylesheet" type="text/css" media="print" />
        <meta name="viewport" content="width=device-width" />
     
    </head>
    <body>
           @RenderBody()
     </body>
</html>