@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Uygulama Hakkında";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Yaşam Yıldızı OSGB Portal.</h2>
</hgroup>

<article>
    <p>
        Kullanımı kolay, işlerin daha hızlı, düzenli ve takip edilebilir olmasını nasıl sağlarız...
    </p>

    <p>
        Tamamen bu fikir ve arayışla ortaya çıktı
    </p>

    <p>
        Deneyimlerimizle daha da geliştirilecektir.
    </p>
</article>

<aside>
    <h3>Hızlı erişim</h3>
    <p>
        Menülere hızlı erişim sağlayın
    </p>
    <ul>
        <li><a href="~/">Giriş Sayfası</a></li>
        <li><a href="~/About">Hakkında</a></li>
        <li><a href="~/Contact">İletişim</a></li>
    </ul>
</aside>