@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "İletişim";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Problem yaşadığınız herhangi bir konuda lütfen iletişime geçiniz.</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon:</h3>
    </header>
    <p>
        <span class="label">Osgb:</span>
        <span>312.230.6742</span>
    </p>
    <p>
        <span class="label">Gsm:</span>
        <span>507.811.5930</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Yardım:</span>
        <span><a href="mailto:info@yasamyildizi.com.tr">info@yasamyildizi.com.tr</a></span>
    </p>
    <p>
        <span class="label">Yeni Fikirler:</span>
        <span><a href="mailto:mariduru@yasamyildizi.com.tr">mariduru@yasamyildizi.com.tr</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:info@yasamyildizi.com.tr">info@yasamyildizi.com.tr</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres:</h3>
    </header>
    <p>
        GMK Bulvarı. 51/22. <br />
        Maltepe-Çankaya/ANKARA
    </p>
</section>