@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Yaşam Yıldızı OsgbPortal Otomasyonuna Hoşgeldiniz";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1><br/>
            <h2>Kullanmaya başlamadan önce lütfen aşağıdaki açıklamaları dikkatlice okuyunuz.</h2>
        </hgroup>
        <p>
            Sorumlu olduğunuz firmaların yönetimini sağlamak için öncelikle sisteme üye olmalısınız.
            Üyelik formunu doldurup kayıt için gönderdiğinizde, bilgileriniz koordinatörlerimiz tarafından incelenecek ve sorumlu olduğunuz firma/firmalar profilinize tanımlanacaktır. 
            Tanımlama işlemi tamamlandığında tarafınıza gönderilecek mail ile sisteme giriş yapabilecek ve firmalarınızı yönetmeye başlayabileceksiniz.
        </p>
    </div>
</section>
}

<h3>Bu adımları uygulamanızı öneririz.</h3>

<ol class="round">
    <li class="one">
        <h5>Başlarken</h5>
        Eğer Yaşam Yıldızı OSGB'nin veya hizmet verdiğimiz kurumlardan birinin yetkilisi/isg sorumlusu iseniz, sisteme kaydınızı mümkün olduğunca ayrıntı vererek gerçekleştiriniz.
    </li>

    <li class="two">
        <h5>Kayıt yaptıktan sonra</h5>
        İşleminizin hızlanması ve aksama yaşanmaması için mesai saatleri içerisinde size verilen telefon numaralarından yetkililerimizle iletişime geçerek onaylanma ve tanımla işleminizin daha hızlı ve sağlıklı bir şekilde gerçekleşmesini sağlayınız.
    </li>
</ol>