@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Hesap Kilitli";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Hesabınız çok fazla geçersiz oturum açma girişimi nedeniyle kilitlendi.</h2>
</hgroup>

<p>
    Merak etmeyin, hesabın kilidi 60 saniye içinde otomatik olarak açılacak. 
    Bu süre geçtikten sonra lütfen yeniden deneyin.
</p>