@{
    // Düzen sayfasını ve sayfa başlığını ayarla
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Oturum Açma Hatası";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Hizmette oturum açma başarısız.</h2>
</hgroup>
