@{
    
}
<h3>ADMİN PANEL<br/><br/> </h3> 
<a class="link" href="~/Admin/Firmalar">Firmalar</a>
<a class="link" href="~/Admin/PersonelFirmaAtama">Personel Firma Görevlendirme</a>
<a class="link" href="~/Admin/ManageRoles">Rolleri Yönet</a>
<a class="link" href="~/Admin/Confirm">Yeni Personel Onayla</a>
<a class="link" href="~/Admin/AylikCalismaProgramlari">Aylik Çalışma Planları</a>
<a class="link" href="~/Admin/teklif">Teklif Hazırlama</a>


