<div class=WordSection1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:736.4pt'>
  <td width=614 valign=top style='width:460.6pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:736.4pt'>
  <p class=MsoNoSpacing align=center style='margin-top:77.0pt;margin-right:
  0cm;margin-bottom:12.0pt;margin-left:0cm;text-align:center'><span
  style='color:#5B9BD5;mso-fareast-language:TR;mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype
   id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
   path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" style='width:162pt;
   height:54.75pt'>
   <v:imagedata src="Acil%20Durum%20Prosedürü%20(Onarıldı)_dosyalar/image001.png"
    o:title="logo"/>
  </v:shape><![endif]--><![if !vml]><img width=216 height=73
  src="Acil%20Durum%20Prosedürü%20(Onarıldı)_dosyalar/image002.gif" v:shapes="_x0000_i1025"><![endif]></span><span
  style='color:#5B9BD5'><o:p></o:p></span></p>
  <div style='mso-element:para-border-div;border-top:solid #5B9BD5 1.0pt;
  border-left:none;border-bottom:solid #5B9BD5 1.0pt;border-right:none;
  mso-border-top-alt:solid #5B9BD5 .75pt;mso-border-bottom-alt:solid #5B9BD5 .75pt;
  padding:6.0pt 0cm 6.0pt 0cm'>
  <p class=MsoNoSpacing align=center style='margin-bottom:12.0pt;text-align:
  center;border:none;mso-border-top-alt:solid #5B9BD5 .75pt;mso-border-bottom-alt:
  solid #5B9BD5 .75pt;padding:0cm;mso-padding-alt:6.0pt 0cm 6.0pt 0cm'><span
  style='font-size:36.0pt;font-family:"Calibri Light",sans-serif;text-transform:
  uppercase'>ACİL DURUM PROSEDÜRÜ</span><span style='font-size:40.0pt;
  font-family:"Calibri Light",sans-serif;color:#5B9BD5;text-transform:uppercase'><o:p></o:p></span></p>
  </div>
  <p class=MsoNoSpacing align=center style='text-align:center'><span
  style='font-size:14.0pt'>SELVA GIDA SANAYİ A.Ş.<span style='color:#5B9BD5'><o:p></o:p></span></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing align=center style='margin-bottom:2.0pt;text-align:
  center'><span style='font-size:14.0pt;text-transform:uppercase'>30 Mayıs 2014<span
  style='color:#5B9BD5'><o:p></o:p></span></span></p>
  <p class=MsoNoSpacing align=center style='text-align:center'><span
  style='text-transform:uppercase'>yaşam yıldızı osgb</span><span
  style='color:#5B9BD5'><o:p></o:p></span></p>
  <p class=MsoNoSpacing align=center style='text-align:center'><span
  style='color:#5B9BD5'>[Şirket adresi]<o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=614 valign=top style='width:460.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoTocHeading><span style='font-size:10.0pt;line-height:115%;
  font-family:"Arial",sans-serif'>İçindekiler<o:p></o:p></span></p>
  <p class=MsoNormal><o:p>&nbsp;</o:p></p>
  <p class=MsoToc1 style='tab-stops:24.0pt right dotted 453.1pt'><!--[if supportFields]><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><span
  style='mso-element:field-begin'></span><span
  style='mso-spacerun:yes'> </span>TOC \o &quot;1-3&quot; \h \z \u <span
  style='mso-element:field-separator'></span></span><![endif]--><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><span
  class=MsoHyperlink><span style='mso-no-proof:yes'><a href="#_Toc325014598">1.<span
  style='color:windowtext;text-decoration:none;text-underline:none'><span
  style='mso-tab-count:1'>     </span></span>TANIMLAR<span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-tab-count:1 dotted'>. </span></span><!--[if supportFields]><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-element:field-begin'></span></span><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'> PAGEREF _Toc325014598 \h </span><span style='color:
  windowtext;display:none;mso-hide:screen;text-decoration:none;text-underline:
  none'><span style='mso-element:field-separator'></span></span><![endif]--><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'>2</span><span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><!--[if gte mso 9]><xml>
   <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003300320035003000310034003500390038000000</w:data>
  </xml><![endif]--></span><!--[if supportFields]><span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-element:field-end'></span></span><![endif]--></a></span></span><span
  style='mso-no-proof:yes'><o:p></o:p></span></span></p>
  <p class=MsoToc1 style='tab-stops:24.0pt right dotted 453.1pt'><span
  class=MsoHyperlink><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
  mso-no-proof:yes'><a href="#_Toc325014599">2.<span style='color:windowtext;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1'>     </span></span>ACİL
  DURUM EKİPLERİ<span style='color:windowtext;display:none;mso-hide:screen;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1 dotted'> </span></span><!--[if supportFields]><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-element:field-begin'></span></span><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'> PAGEREF _Toc325014599 \h </span><span style='color:
  windowtext;display:none;mso-hide:screen;text-decoration:none;text-underline:
  none'><span style='mso-element:field-separator'></span></span><![endif]--><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'>2</span><span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><!--[if gte mso 9]><xml>
   <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003300320035003000310034003500390039000000</w:data>
  </xml><![endif]--></span><!--[if supportFields]><span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-element:field-end'></span></span><![endif]--></a></span></span><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-no-proof:yes'><o:p></o:p></span></p>
  <p class=MsoToc1 style='tab-stops:24.0pt right dotted 453.1pt'><span
  class=MsoHyperlink><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
  mso-no-proof:yes'><a href="#_Toc325014604">3.<span style='color:windowtext;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1'>     </span></span>ACİL
  DURUMLARDA KURULUŞ İÇİ VE DIŞI MAKAMLARLA İLETİŞİM<span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-tab-count:1 dotted'>.. </span></span><!--[if supportFields]><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-element:field-begin'></span></span><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'> PAGEREF _Toc325014604 \h </span><span style='color:
  windowtext;display:none;mso-hide:screen;text-decoration:none;text-underline:
  none'><span style='mso-element:field-separator'></span></span><![endif]--><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'>4</span><span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><!--[if gte mso 9]><xml>
   <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003300320035003000310034003600300034000000</w:data>
  </xml><![endif]--></span><!--[if supportFields]><span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-element:field-end'></span></span><![endif]--></a></span></span><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-no-proof:yes'><o:p></o:p></span></p>
  <p class=MsoToc1 style='tab-stops:24.0pt right dotted 453.1pt'><span
  class=MsoHyperlink><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
  mso-no-proof:yes'><a href="#_Toc325014605">4.<span style='color:windowtext;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1'>     </span></span>ACİL
  DURUM TEÇHİZATI<span style='color:windowtext;display:none;mso-hide:screen;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1 dotted'> </span></span><!--[if supportFields]><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-element:field-begin'></span></span><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'> PAGEREF _Toc325014605 \h </span><span style='color:
  windowtext;display:none;mso-hide:screen;text-decoration:none;text-underline:
  none'><span style='mso-element:field-separator'></span></span><![endif]--><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'>4</span><span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><!--[if gte mso 9]><xml>
   <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003300320035003000310034003600300035000000</w:data>
  </xml><![endif]--></span><!--[if supportFields]><span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-element:field-end'></span></span><![endif]--></a></span></span><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-no-proof:yes'><o:p></o:p></span></p>
  <p class=MsoToc1 style='tab-stops:24.0pt right dotted 453.1pt'><span
  class=MsoHyperlink><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
  mso-no-proof:yes'><a href="#_Toc325014606">5.<span style='color:windowtext;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1'>     </span></span>TATBİKATLAR<span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-tab-count:1 dotted'>. </span></span><!--[if supportFields]><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-element:field-begin'></span></span><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'> PAGEREF _Toc325014606 \h </span><span style='color:
  windowtext;display:none;mso-hide:screen;text-decoration:none;text-underline:
  none'><span style='mso-element:field-separator'></span></span><![endif]--><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'>4</span><span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><!--[if gte mso 9]><xml>
   <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003300320035003000310034003600300036000000</w:data>
  </xml><![endif]--></span><!--[if supportFields]><span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-element:field-end'></span></span><![endif]--></a></span></span><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-no-proof:yes'><o:p></o:p></span></p>
  <p class=MsoToc1 style='tab-stops:24.0pt right dotted 453.1pt'><span
  class=MsoHyperlink><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
  mso-no-proof:yes'><a href="#_Toc325014607">6.<span style='color:windowtext;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1'>     </span></span>EĞİTİM<span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-tab-count:1 dotted'>.. </span></span><!--[if supportFields]><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-element:field-begin'></span></span><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'> PAGEREF _Toc325014607 \h </span><span style='color:
  windowtext;display:none;mso-hide:screen;text-decoration:none;text-underline:
  none'><span style='mso-element:field-separator'></span></span><![endif]--><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'>4</span><span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><!--[if gte mso 9]><xml>
   <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003300320035003000310034003600300037000000</w:data>
  </xml><![endif]--></span><!--[if supportFields]><span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-element:field-end'></span></span><![endif]--></a></span></span><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-no-proof:yes'><o:p></o:p></span></p>
  <p class=MsoToc1 style='tab-stops:24.0pt right dotted 453.1pt'><span
  class=MsoHyperlink><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
  mso-no-proof:yes'><a href="#_Toc325014608">7.<span style='color:windowtext;
  text-decoration:none;text-underline:none'><span style='mso-tab-count:1'>     </span>ACİL
  DURUM </span>TALİMATLARI<span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-tab-count:1 dotted'> </span></span><!--[if supportFields]><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'><span style='mso-element:field-begin'></span></span><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'> PAGEREF _Toc325014608 \h </span><span style='color:
  windowtext;display:none;mso-hide:screen;text-decoration:none;text-underline:
  none'><span style='mso-element:field-separator'></span></span><![endif]--><span
  style='color:windowtext;display:none;mso-hide:screen;text-decoration:none;
  text-underline:none'>4</span><span style='color:windowtext;display:none;
  mso-hide:screen;text-decoration:none;text-underline:none'><!--[if gte mso 9]><xml>
   <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003300320035003000310034003600300038000000</w:data>
  </xml><![endif]--></span><!--[if supportFields]><span style='color:windowtext;
  display:none;mso-hide:screen;text-decoration:none;text-underline:none'><span
  style='mso-element:field-end'></span></span><![endif]--></a></span></span><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-no-proof:yes'><o:p></o:p></span></p>
  <p class=MsoNoSpacing><!--[if supportFields]><b><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><span style='mso-element:field-end'></span></span></b><![endif]--><o:p>&nbsp;</o:p></p>
  </td>
 </tr>
</table>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:24.0cm'>
  <td width=614 valign=top style='width:460.6pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:24.0cm'>
  <h1 style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l5 level1 lfo6'><a
  name="_Toc325014598"><![if !supportLists]><span style='mso-list:Ignore'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><![endif]>TANIMLAR</a></h1>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>KAZA: </span></b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Ölüme, hastalığa,
  yaralanmaya, hasara veya diğer kayıplara sebebiyet veren istenmeyen olay.<b
  style='mso-bidi-font-weight:normal'><span style='mso-spacerun:yes'>  </span><o:p></o:p></b></span></p>
  <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>YANGIN:</span></b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'> Katı, sıvı veya gaz
  halindeki yanıcı maddelerin ısı alarak kontrol dışı yanmasıdır<b>.<o:p></o:p></b></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>DEPREM:</span></b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'> Fay üzerinde biriken
  biçim değiştirme enerjisinin aniden boşalması sonucu meydana gelen yer
  değiştirme hareketleridir.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>SIZINTI
  – DÖKÜLME:</span></b><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>
  İnsan sağlığına ve çevreye doğrudan veya dolaylı bir şekilde zarar
  verebilecek olan zararlı maddelerin bir kaptan sızarak veya dökülerek
  boşalmasıdır.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoBodyText><b style='mso-bidi-font-weight:normal'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>İLK YARDIM: </span></b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Herhangi bir nedenle
  tehlikeli duruma girmiş olan, hastalanan veya kazaya uğrayan bir kişiye
  durumunun daha kötüye gitmesini önlemek üzere doktor /ambulans gelinceye
  kadar olay yerinde yapılan tıbbi olmayan geçici müdahaledir.<o:p></o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>SABOTAJ:
  </span></b><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Harp
  sanayi <span class=GramE>dahil</span>, sınai, ticari, zirai, üretim
  tesislerinin, araçlarının ve ürünlerinin enerji üretim ve ulaştırma
  tesislerinin, her türlü ulaştırma ve haberleşme sistem ve araçlarının, milli
  ekonomiye, milli kültüre, sağlık tesislerinin, eğitim tesislerinin, her türlü
  faaliyeti gerçekleştiren özel sektör fabrika, tesis işyerlerinin geçici bir
  süre için faaliyet dışı kalmasını sağlamak amacı ile tahribine yönelik
  saldırgan bir yıkıcı faaliyet şekline denir.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <h1><o:p>&nbsp;</o:p></h1>
  <h1 style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l5 level1 lfo6'><a
  name="_Toc325014599"><![if !supportLists]><span style='mso-list:Ignore'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><![endif]>ACİL
  DURUM EKİPLERİ</a></h1>
  <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Acil durum ekipleri söndürme, kurtarma,
  koruma(emniyet) ve ilk yardım <span style='color:black'>ekiplerinden
  oluşturulmuştur</span><span style='color:red'>.<o:p></o:p></span></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Söndürme ve Kurtarma ekipleri en az 3 (üç),<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>İlk yardım ve Koruma ekipleri en az 2 (iki)
  kişiden oluşmalıdır. <o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>İşletmede meydana gelebilecek iş kazası,
  yangın, deprem, sızıntı - dökülme ve sabotaj olaylarına müdahale edecek
  ekipler yukarıda belirtilen özellikleri taşımak şartıyla, aşağıdaki tabloda
  belirtildiği gibi oluşturulacaktır. <o:p></o:p></span></p>
  <p class=MsoNormal style='tab-stops:-27.0pt'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='tab-stops:-27.0pt'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h4 align=left style='margin-left:36.0pt;text-align:left;text-indent:-18.0pt;
  mso-list:l5 level2 lfo6'><![if !supportLists]><span style='mso-fareast-font-family:
  Arial;mso-bidi-font-family:Arial'><span style='mso-list:Ignore'>2.1.<span
  style='font:7.0pt "Times New Roman"'> </span></span></span><![endif]>ACİL
  DURUM EKİPLERİ LİSTESİ</h4>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'>Binaların Yangından
  Korunması Hakkındaki Yönetmelik (27.11.2007 – 2007/12937) Dokuzuncu Kısım,
  İkinci Bölüm, Madde 126, 127<o:p></o:p></span></b></p>
  <p class=MsoNormal style='margin-left:54.0pt'><b style='mso-bidi-font-weight:
  normal'><i style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#244061'><o:p>&nbsp;</o:p></span></i></b></p>
  <p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:
  l0 level1 lfo7'><![if !supportLists]><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;mso-fareast-font-family:Arial;color:#0F243E'><span
  style='mso-list:Ignore'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span></span></i></b><![endif]><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;color:#244061'>Söndürme Ekibi (en az üç kişi) <o:p></o:p></span></i></b></p>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <div align=center>
  <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="106%"
   style='width:106.58%;border-collapse:collapse;border:none;mso-border-alt:
   solid windowtext .5pt;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
   .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td width="35%" valign=top style='width:35.7%;border:solid windowtext 1.0pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Adı
    ve Soyadı<u><o:p></o:p></u></span></b></p>
    </td>
    <td width="25%" valign=top style='width:25.78%;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoHeading9 align=center style='text-align:center;tab-stops:-27.0pt'><b
    style='mso-bidi-font-weight:normal'><span style='font-size:9.0pt;
    mso-bidi-font-size:10.0pt'>Ekip Elemanları<u><o:p></o:p></u></span></b></p>
    </td>
    <td width="38%" valign=top style='width:38.52%;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Ekipteki
    Görevi<u><o:p></o:p></u></span></b></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:1;height:16.05pt'>
    <td width="35%" valign=top style='width:35.7%;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.05pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width="25%" valign=top style='width:25.78%;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:16.05pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR'>Ekip Başkanı<o:p></o:p></span></p>
    </td>
    <td width="38%" rowspan=3 valign=top style='width:38.52%;border-top:none;
    border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:16.05pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:0cm'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Binadaki
    çıkacak yangına ve diğer acil durumlarda derhal müdahale ederek yangının
    genişlemesine mani olmak ve söndürmek<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2;height:13.4pt'>
    <td width="35%" valign=top style='width:35.7%;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width="25%" valign=top style='width:25.78%;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:13.4pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR'>Yedek<b><o:p></o:p></b></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:13.65pt'>
    <td width="35%" valign=top style='width:35.7%;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:13.65pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width="25%" valign=top style='width:25.78%;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:13.65pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Yedek<o:p></o:p></span></p>
    </td>
   </tr>
  </table>
  </div>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;color:#244061'><o:p>&nbsp;</o:p></span></i></b></p>
  <p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:
  l0 level1 lfo7'><![if !supportLists]><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;mso-fareast-font-family:Arial;color:#0F243E'><span
  style='mso-list:Ignore'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span></span></i></b><![endif]><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;color:#244061'>Kurtarma Ekibi ( en az üç kişi) <o:p></o:p></span></i></b></p>
  <p class=MsoNormal style='margin-left:72.0pt'><b style='mso-bidi-font-weight:
  normal'><i style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#244061'><o:p>&nbsp;</o:p></span></i></b></p>
  <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=662
   style='width:496.2pt;border-collapse:collapse;border:none;mso-border-alt:
   solid windowtext .5pt;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
   .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Adı
    ve Soyadı<u><o:p></o:p></u></span></b></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoHeading9 align=center style='text-align:center;tab-stops:-27.0pt'><b
    style='mso-bidi-font-weight:normal'><span style='font-size:9.0pt;
    mso-bidi-font-size:10.0pt'>Ekip Elemanları<u><o:p></o:p></u></span></b></p>
    </td>
    <td width=255 valign=top style='width:191.4pt;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Ekipteki
    Görevi<u><o:p></o:p></u></span></b></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:1;height:16.05pt'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.05pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:16.05pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR'>Ekip Başkanı<o:p></o:p></span></p>
    </td>
    <td width=255 rowspan=3 valign=top style='width:191.4pt;border-top:none;
    border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:16.05pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:0cm'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Yangın
    ve diğer acil durumlarda can ve mal kurtarma işlerini yapma<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2;height:16.05pt'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.05pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:16.05pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR'>Yedek<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:13.4pt'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:13.4pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR'>Yedek<b><o:p></o:p></b></span></p>
    </td>
   </tr>
  </table>
  <p class=MsoNoSpacing><o:p></o:p></p>
  </td>
 </tr>
</table>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt;mso-border-insideh:none;mso-border-insidev:none'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=614 valign=top style='width:460.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:
  l0 level1 lfo7'><![if !supportLists]><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;mso-fareast-font-family:Arial;color:#0F243E'><span
  style='mso-list:Ignore'>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span></span></i></b><![endif]><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;color:#244061'>Koruma Ekibi (en az iki kişi)<o:p></o:p></span></i></b></p>
  <p class=MsoNormal style='margin-left:18.0pt'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=662
   style='width:496.2pt;border-collapse:collapse;border:none;mso-border-alt:
   solid windowtext .5pt;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
   .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Adı
    ve Soyadı<u><o:p></o:p></u></span></b></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoHeading9 align=center style='text-align:center;tab-stops:-27.0pt'><b
    style='mso-bidi-font-weight:normal'><span style='font-size:9.0pt;
    mso-bidi-font-size:10.0pt'>Ekip Elemanları<u><o:p></o:p></u></span></b></p>
    </td>
    <td width=255 valign=top style='width:191.4pt;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Ekipteki
    Görevi<u><o:p></o:p></u></span></b></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:1;height:28.3pt'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:28.3pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:28.3pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR'>Ekip Başkanı<o:p></o:p></span></p>
    </td>
    <td width=255 rowspan=2 valign=top style='width:191.4pt;border-top:none;
    border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:28.3pt'>
    <p class=MsoNormal><span style='font-size:9.0pt;mso-bidi-font-size:10.0pt;
    font-family:"Arial",sans-serif'>Kurtarma ekibince kurtarılan eşya ve evrakı
    korumak, acil durum nedeniyle ortaya çıkması muhtemel panik ve kargaşayı
    önlemek<o:p></o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2;mso-yfti-lastrow:yes;height:13.4pt'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:13.4pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR;mso-bidi-font-weight:bold'>Yedek<o:p></o:p></span></p>
    </td>
   </tr>
  </table>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:
  l0 level1 lfo7'><![if !supportLists]><b style='mso-bidi-font-weight:normal'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
  Arial;color:#0F243E'><span style='mso-list:Ignore'>4)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></b><![endif]><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;color:#244061'>İlkyardım Ekibi (en az iki kişi)</span></i></b><b
  style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif'><o:p></o:p></span></b></p>
  <p class=MsoNormal style='margin-left:18.0pt'><b style='mso-bidi-font-weight:
  normal'><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=662
   style='width:496.2pt;border-collapse:collapse;border:none;mso-border-alt:
   solid windowtext .5pt;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
   .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Adı
    ve Soyadı<u><o:p></o:p></u></span></b></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoHeading9 align=center style='text-align:center;tab-stops:-27.0pt'><b
    style='mso-bidi-font-weight:normal'><span style='font-size:9.0pt;
    mso-bidi-font-size:10.0pt'>Ekip Elemanları<u><o:p></o:p></u></span></b></p>
    </td>
    <td width=255 valign=top style='width:191.4pt;border:solid windowtext 1.0pt;
    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center;
    tab-stops:-27.0pt'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'>Ekipteki
    Görevi<u><o:p></o:p></u></span></b></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:1;height:16.05pt'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.05pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:16.05pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR'>Ekip Başkanı<o:p></o:p></span></p>
    </td>
    <td width=255 rowspan=2 valign=top style='width:191.4pt;border-top:none;
    border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:16.05pt'>
    <p class=MsoNormal><span style='font-size:9.0pt;mso-bidi-font-size:10.0pt;
    font-family:"Arial",sans-serif'>Acil durum sebebiyle yaralanan ve
    hastalanan kişilere ilk yardım yapmak<o:p></o:p></span></p>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2;mso-yfti-lastrow:yes;height:13.4pt'>
    <td width=240 valign=top style='width:180.1pt;border:solid windowtext 1.0pt;
    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt'>
    <p class=MsoNormal style='margin-top:6.0pt;tab-stops:-27.0pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
    </td>
    <td width=166 valign=top style='width:124.7pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
    mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:13.4pt'>
    <p class=MsoHeader style='margin-top:6.0pt;tab-stops:-27.0pt center 207.65pt right 415.3pt'><span
    style='font-size:9.0pt;mso-bidi-font-size:10.0pt;font-family:"Arial",sans-serif;
    mso-ansi-language:TR;mso-bidi-font-weight:bold'>Yedek<o:p></o:p></span></p>
    </td>
   </tr>
  </table>
  <p class=MsoNormal style='tab-stops:-27.0pt'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h4><o:p>&nbsp;</o:p></h4>
  <h4 align=left style='margin-left:36.0pt;text-align:left;text-indent:-18.0pt;
  mso-list:l5 level2 lfo6'><![if !supportLists]><span style='mso-fareast-font-family:
  Arial;mso-bidi-font-family:Arial'><span style='mso-list:Ignore'>2.2.<span
  style='font:7.0pt "Times New Roman"'> </span></span></span><![endif]>Acil
  Durum Ekiplerinin Görevleri</h4>
  <h2><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p><span
   style='text-decoration:none'>&nbsp;</span></o:p></span></h2>
  <h2><a name="_Toc325014600"><b><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif'>Söndürme Ekibi</span></b></a><b><span style='font-size:
  10.0pt;font-family:"Arial",sans-serif'><o:p></o:p></span></b></h2>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Binada çıkacak yangına derhal müdahale ederek
  yangının genişlemesine mani olmak ve söndürmek.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h3><a name="_Toc325014601"><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Kurtarma
  Ekibi</span></a><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p></o:p></span></h3>
  <p class=MsoNormal style='text-align:justify'><i><u><span style='font-size:
  10.0pt;font-family:"Arial",sans-serif'><o:p><span style='text-decoration:
   none'>&nbsp;</span></o:p></span></u></i></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Yangın ve diğer acil durumlarda can ve mal
  kurtarma işlerini yapmak.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h2><a name="_Toc325014602"><b><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif;color:black'>Koruma (Emniyet) Ekibi</span></b></a><b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'><o:p></o:p></span></b></h2>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif;
  color:red'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Kurtarma ekibince kurtarılan eşya evrakı
  korumak, yangın nedeniyle ortaya çıkması muhtemel panik ve kargaşayı önlemek<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h2><a name="_Toc325014603"><b><span style='font-size:10.0pt;font-family:
  "Arial",sans-serif'>İlk Yardım Ekibi</span></b></a><b><span style='font-size:
  10.0pt;font-family:"Arial",sans-serif'><o:p></o:p></span></b></h2>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Yangın sebebiyle yaralanan veya hastalanan
  kişilere ilk yardım yapmak.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h4 align=left style='margin-left:36.0pt;text-align:left;text-indent:-18.0pt;
  mso-list:l5 level2 lfo6'><![if !supportLists]><span style='mso-fareast-font-family:
  Arial;mso-bidi-font-family:Arial'><span style='mso-list:Ignore'>2.3.<span
  style='font:7.0pt "Times New Roman"'> </span></span></span><![endif]>Acil
  Durumda Yapılacak İşler</h4>
  <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Yangın esnasında yapılması gerekenler
  “Binaların Yangından Korunması Hakkında Yönetmelik ”de belirtilmiştir. Gerek
  duyulduğu takdirde diğer acil durum olayları için de talimat ve/veya
  yönergeler oluşturulabilecektir. <o:p></o:p></span></p>
  <h4><o:p>&nbsp;</o:p></h4>
  <h4 align=left style='margin-left:36.0pt;text-align:left;text-indent:-18.0pt;
  mso-list:l5 level2 lfo6'><![if !supportLists]><span style='mso-fareast-font-family:
  Arial;mso-bidi-font-family:Arial;mso-bidi-font-weight:bold'><span
  style='mso-list:Ignore'>2.4.<span style='font:7.0pt "Times New Roman"'> </span></span></span><![endif]><span
  style='mso-bidi-font-weight:bold'>Acil Durum Planları<o:p></o:p></span></h4>
  <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Acil durumlarda personelin yapması gerekenler
  iş kazası, sızıntı-dökülme, deprem, yangın, sabotaj ve ilk yardım acil durum
  planlarında belirtilmiştir. Tüm çalışanlar bu planlara uymakla yükümlüdür<o:p></o:p></span></p>
  <h4><o:p>&nbsp;</o:p></h4>
  <h4 align=left style='margin-left:36.0pt;text-align:left;text-indent:-18.0pt;
  mso-list:l5 level2 lfo6'><![if !supportLists]><span style='mso-fareast-font-family:
  Arial;mso-bidi-font-family:Arial;mso-bidi-font-weight:bold'><span
  style='mso-list:Ignore'>2.5.<span style='font:7.0pt "Times New Roman"'> </span></span></span><![endif]><span
  style='mso-bidi-font-weight:bold'>Kayıt Ve Teçhizatın Korunması<o:p></o:p></span></h4>
  <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNoSpacing><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Yangın
  sırasında korunması ve kurtarılması gereken evrak ve eşyalar yangında ilk
  öncelikli kurtarılacaklar listesinde belirtilmiştir. Birinci öncelik
  kurtarılacak malzeme kırmızı daire içinde siyah renk ‘’Y’’ harfi, İkinci
  öncelik kurtarılacak malzeme mavi daire içinde siyah renk ‘’Y’’ harfi Üçüncü
  öncelik kurtarılacak malzeme yeşil daire içinde siyah renk ‘’Y’’ harfi
  etiketlerle belirtilir.</span></p>
  </td>
 </tr>
</table>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt;mso-border-insideh:none;mso-border-insidev:none'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:659.1pt'>
  <td width=614 valign=top style='width:460.6pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:659.1pt'>
  <h1 style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l5 level1 lfo6'><a
  name="_Toc325014604"><![if !supportLists]><span style='mso-list:Ignore'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><![endif]>ACİL
  DURUMLARDA KURULUŞ İÇİ VE DIŞI MAKAMLARLA İLETİŞİM</a><o:p></o:p></h1>
  <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Acil durumlarda gerekli olabilecek, acil
  durum telefon listesinde belirtilmiş telefon numaraları(Yangın, Hızır Acil
  servis, Polis imdat, Jandarma, Orman yangın ihbarı vb.) <span
  style='mso-spacerun:yes'> </span>herkesin ulaşabileceği yerlere asılmalı ve
  sürekli güncelliği sağlanmalıdır.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Acil durum ekipleri aralarındaki grup içi
  iletişimi telefon dışında ekip amirlerinde bulunan telefonlarla sağlayacaklardır.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'> </span><o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h1 style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l5 level1 lfo6'><a
  name="_Toc325014605"><![if !supportLists]><span style='mso-list:Ignore'>4.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><![endif]>ACİL
  DURUM TEÇHİZATI</a><o:p></o:p></h1>
  <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>Acil durumlarda kullanılmak üzere tespit
  edilmiş olan teçhizatlar acil durum teçhizat listesinde belirtilmiş ve
  yeterli miktarda temin edilmiştir. <o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'> </span><o:p></o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Bu
  teçhizatların belirli aralıklarla faal durumda olduklarını kontrol etmek
  amacıyla bakım ve testleri yapılmaktadır. Bu teçhizatlar acil durum yerleşim
  planında gösterilmiş ve tüm çalışanlara duyurulmuştur. (Ör; alarm sistemleri,
  yangın tüpleri, yangın hortumları, yangın hidrantları, yangın istasyonu
  pompaları, güç kaynakları, acil çıkış yolları, yangın kapıları, gaz-elektrik
  ana vana veya şalterleri, ilk yardım teçhizatları, göz yıkama duşları vs.)<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h1 style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l5 level1 lfo6'><a
  name="_Toc325014606"><![if !supportLists]><span style='mso-list:Ignore'>5.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><![endif]>TATBİKATLAR</a><o:p></o:p></h1>
  <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'><b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'>İşletmemizde acil durumlarla ilgili
  tatbikatlar altı ayda bir yapılmaktadır. Tatbikata katılanlar, tatbikat
  katılım listesinde belirtilmelidir. Her tatbikat sonrası tatbikat tutanakları
  doldurularak iş güvenliği birimi (İş Güvenliği Uzmanı), sorumlu kişilere ve
  insan kaynakları birimine ulaştırılmalıdır.<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h1 style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l5 level1 lfo6'><a
  name="_Toc325014607"><![if !supportLists]><span style='mso-list:Ignore'>6.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><![endif]>EĞİTİM</a><o:p></o:p></h1>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Acil
  durum müdahale ekiplerine görevleri ile ilgili sertifikalı eğitim
  verdirilmelidir.<o:p></o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Ayrıca
  temel yangın eğitimi kapsamında çeşitli tip ve kapasitedeki yangın söndürme
  cihazlarının hangi tip yangınlarda kullanılması gerektiği ve yangın söndürme
  teknikleri, öğretilmelidir.<o:p></o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>En
  az 6 ayda bir tatbikatlar yaptırılarak bu eğitim yenilenmelidir. <o:p></o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>İlk
  yardım ve kurtarma elemanlarına yaralanma veya hastalanma hallerinde en yakın
  sağlık kuruluşuna götürülünceye kadar hayat kurtarmak için nelerin yapılması
  gerektiği hususunda İlk Yardım Yönetmeliği kapsamında belirtildiği gibi
  Sağlık Bakanlığı’ndan izinli kuruluşlar tarafından eğitim aldırılmalıdır.<o:p></o:p></span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>
  <h1 style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l5 level1 lfo6'><a
  name="_Toc325014608"><![if !supportLists]><span style='mso-list:Ignore'>7.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><![endif]>EKLER</a><o:p></o:p></h1>
  <p class=MsoNormal style='margin-left:36.0pt;text-align:justify'><b><span
  style='font-size:10.0pt;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;mso-bidi-font-weight:bold'>Ek- 1 Acil Durum
  Talimat ve Planları<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;mso-bidi-font-weight:bold'>Ek- 2 Acil Durum
  Ekip Listeleri<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;mso-bidi-font-weight:bold'>Ek- 3 Acil Durum
  Telefon Listesi<o:p></o:p></span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;mso-bidi-font-weight:bold'>Ek- 4 Acil Durum
  Yerleşim Planı<o:p></o:p></span></p>
  <p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>
  </td>
 </tr>
</table>

<p class=MsoNoSpacing><o:p>&nbsp;</o:p></p>

</div>
