@{
    Layout = null;
    var firmaid=Request["id"];
    var appData = Server.MapPath("~/App_Data");
    var originalFileName = "RiskAnalizFormu.xls";
    var newFileName = string.Format("{0}.xls", Guid.NewGuid().ToString());
    var originalFile = Path.Combine(appData, originalFileName);
    var newFile = Path.Combine(appData, newFileName);
    File.Copy(originalFile, newFile);
    
    var northwind = Database.Open("OsgbPortal");
    var sql = "SELECT * FROM riskAnalizi WHERE firmaID=@0";
    var customers = northwind.Query(sql,firmaid);
    
    var connString = string.Format(@"Provider=Microsoft.Jet.OleDb.4.0;
                                    Data Source={0}/{1};Extended Properties='Excel 8.0;HDR=Yes;'", 
                                    appData, newFileName);
    var provider = "System.Data.OleDb";

    using (var excel = Database.OpenConnectionString(connString, provider)){
        
         sql = @"INSERT INTO [Firmalarim$] (SIRA, BÖLÜM, FAALİYET, TEHLİKE, RİSK, SONUÇ, MEVCUTDURUM, OLASILIK, ŞİDDET, RDS, ÖNCELİK, AÇIKLAMA,ALINACAKÖNLEMLER,SORUMLU,TERMİN,DÜZELTİLDİMİ,OLASILIK2,ŞİDDET2,RDS2,ÖNCELİK2,AÇIKLAMA2) 
            VALUES (@0,@1,@2,@3,@4,@5,@6,@7,@8,@9,@10,@11,@12,@13,@14,@15,@16,@17,@18,@19,@20)";
        foreach(var customer in customers){
            excel.Execute(sql,  
                customer.MaddeNo, 
                customer.Bolum, 
                customer.Faaliyet, 
                customer.Tehlike, 
                customer.Risk,
                customer.Sonuc,
                customer.MevcutDurum,
                customer.Olasilik,
                customer.Siddet,
                customer.RDS,
                customer.OncelikSirasi,
                customer.Aciklama,
                customer.AlinacakOnlem,
                customer.Sorumlu,
                customer.Termin,
                customer.OnlemAlindimi,
                customer.OnlemSonrasiOlasilik,
                customer.OnlemSonrasiSiddet,
                customer.OnlemSonrasiRDS,
                customer.OnlemSonrasiOncelik,
                customer.OnlemSonrasiAciklama);
        }
    }

    Response.AddHeader("Content-disposition", "attachment; filename=RiskForm.xls");
    Response.ContentType = "application/octet-stream";
    Response.TransmitFile(newFile);
    Response.Flush();
    File.Delete(newFile);
    Response.End();
}

<!--<table style="border: 1px solid #a59f9f;">
    <tr style="font-weight: bold">
    @@foreach(var column in columns){
        <td style="border: 1px solid #a59f9f;">@@column</td>
    }
    </tr>
    @@foreach(var row in data){
        <tr>
        @@foreach(var column in columns){
            <td style="border: 1px solid #a59f9f;">@@row[column]</td>
        }
        </tr>
    }
</table>-->